body {
  margin: 0;
  padding: 0;

  min-height: 240vh;
  background: radial-gradient(circle, #0a0a0a, #000000);
  color: white; // optional: ensures text is visible on dark background
  font-family: "Arial", sans-serif; // optional: base font
}
body,
html {
  overflow-x: hidden;
}
